
    .chat-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 500px;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 8px; 
        background-color: #f9f9f9; 
    }

    .messages {
        overflow-y: auto;
        margin-bottom: 10px; 
    }

    .message-form {
        display: flex;
        gap: 10px;
    }

    input, button {
        border-radius: 20px; 
        padding: 10px;
        border: 1px solid #ddd; 
    }

    input {
        flex-grow: 1;
    }

    button {
        background-color: #4CAF50; 
        color:#007bff;
        cursor: pointer; 
    }

    button:disabled {
        background-color: #ddd; 
    }
    .message {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .left {
        justify-content: flex-start;
    }
    
    .right {
        justify-content: flex-end;
    }
    
    .message p {
        max-width: 70%;
        word-wrap: break-word;
        margin-left: 10px;
    }
    .chatbot-icon {
        margin-right: 8px; 
    }
    .chatbot-icon {
        font-size: 27px;
    }
    .user-icon{
        font-size: 27px;

    }
    .right .user-icon {
        order: 2;
    }
    
    .right p {
        order: 1;
        margin-right: 8px; 
    }
    .dot-animation {
        display: flex;
        align-items: center;
      }
      
      .dot {
        background-color: #000; /* Cambia el color según tu diseño */
        border-radius: 50%;
        width: 8px; /* Tamaño del punto */
        height: 8px; /* Tamaño del punto */
        margin: 0 4px; /* Espacio entre los puntos */
        animation: dotFlashing 1.5s infinite linear both;
      }
      
      .dot:nth-child(1) {
        animation-delay: 0s;
      }
      
      .dot:nth-child(2) {
        animation-delay: 0.5s;
      }
      
      .dot:nth-child(3) {
        animation-delay: 1s;
      }
      
      @keyframes dotFlashing {
        0% { background-color: #000; }
        50%, 100% { background-color: transparent; }
      }