.bot-icon {
    font-size: 44px; 
  }
.topic-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
.new-topic-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
.delete-button,
.add-button {
    background-color: #f44336; 
    color: white;
    border: none;
    padding: 2px 5px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
.add-button {
    background-color: #0a63d0; 
  }
  
.delete-button:hover,
.add-button:hover {
    opacity: 0.8;
  }
  button.delete-button {
    margin-right: 600px;
  }